#container {
    display: flex;
    flex-direction: column;
}

#box {
    display: flex;
    flex-direction: row;
    margin: 100px auto;
}

#canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    border: 1px solid #ccc;
    box-shadow:0 4px 4px rgba(0, 0, 0, 0.4); 
}

#result {
    display: block;
    width: 280px;
    padding: 0;
    align-content: space-between;
    text-align: center;
}

#result > li {
    display: inline-block;
    list-style: none;
}

#text {
    text-align: center;
}